.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../../images/link.jpg');  */
    /* background-image: url('https://wallpapertag.com/wallpaper/full/c/d/3/790278-download-free-hex-grid-wallpaper-1920x1080.jpg');  */
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.button {
    margin: 50px 0;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    outline: 0;
    height: 40px;
}

.pageNumber {
    color: white;
    margin: 0 20px;
}