.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 2%;
  width: 20%;
  border: 2px rgba(255, 255, 255, 0.7) solid; 
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-image: url('https://wallpapertag.com/wallpaper/full/c/d/3/790278-download-free-hex-grid-wallpaper-1920x1080.jpg'); 
  /* background-image: url('../../../images/link.jpg');  */
  background-blend-mode: color; 
  height: 710px;
}

.image {
  width: 250px;
  padding-bottom: 20px;
}

.name {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
}

.description{
  text-align: center;
  overflow: auto;
  height: 200px;
  padding-top: 0;
}

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
    .container {
        width: 50%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .container {
        width: 30%;
        margin-right: 3%;
    }
}

.propertyContainer {
    display: flex;
    width: 100%;
    height: 66px;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* border: 2px solid white; */
    margin-bottom: 0;

}

.property {
    font-weight: bold;
    border-bottom:2px solid white;

}