.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 2%;
  width: 20%;
  /* border: 2px black solid;  */
  background-color: rgba(0, 0, 0, 0.4) !important;
  /* background-image: url('../../../images/link.jpg');  */
  /* background-blend-mode: color;  */
  height: 710px;
}

.image {
  width: 250px;
  padding-bottom: 20px;
}

.name {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    border-bottom:2px solid white;
}

/* .type{
  border-bottom: black solid;
} */

.description{
  text-align: center;
  overflow: auto;
  margin-top: 50px;
  /* border: 2px solid white; */
  padding-top: 0;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .container {
        width: 50%;
    }
}

.propertyContainer {
    display: flex;
    width: 100%;
    height: 66px;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* border: 2px solid white; */
    margin-bottom: 0;

}

.property {
    font-weight: bold;
    border-bottom:2px solid white;

}