.Overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* https://www.npmjs.com/package/body-scroll-lock */

.Modal {
    position: absolute;
    outline: none;
    width: 30% !important;
    background-color:rgba(0,0,0,0.6);
    border: solid;
    border-color:rgba(0, 255, 255, 0.3);
    padding: 2%;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    /* margin-right: 50%; */
    transform: translate(-50%, -50%);
    padding-left: 2.5%;
}

.Modal__Body--open,
.Modal__Html--open {
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .Modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: 100%;
        padding-left: 27px;
    }
  }