.container {
    /* background-color: rgba(0, 0, 0, 0.3) !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 150px; */
    height: 10%;
}

.containerContents {
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    /* width: 100%; */
    margin-left: 0;
}

.select {
    width: 100%; 
     margin-bottom: 20px;
    padding-right: 20px;
}

.input {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

.mainInput {
    width: 400px;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin-right: 4%;
    border-radius: 0.2rem;
    background-color:rgba(0,0,0,0.1);
    color: white;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
}

.button {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    outline: 0;
    height: 40px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    border: solid;
    border-color:rgba(0, 255, 255, 0.5);
    margin-right: 10px;
}

.cardType{
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    
}
.monster{
    padding-left: 2%;
    padding-right: 2%;
}

.range{
    color: white;

}
/* .groupStyles {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }; */

/* .groupBadgeStyles {
    background-color: #EBECF0;
    border-radius: 2em;
    padding: 0.1em 0.5em;
  }; */

  .propertyInput {
    width: 120px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
  }


  /* @media only screen and (max-width: 500px) { */
    /* .select {
        width: 300px; 
         margin-bottom: 20px;
        padding-right: 20px;
    }
} */

/* @media only screen and (min-width: 501px) and (max-width: 800px) {
    .select {
        width: 300px; 
         margin-bottom: 10px;
        padding-right: 10px;
    }
} */
@media only screen and (max-width: 1024px) {
    .mainInput {
        width: 45%;
        margin: 0;
        margin-right: 20px;
    }

    .containerContents {
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        width: 100%;
        margin-left: 0;
    }
    
    .button {
        margin-right: 0;
    }

}