.container {
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3) !important;
    background-image: url('https://wallpapertag.com/wallpaper/full/c/d/3/790278-download-free-hex-grid-wallpaper-1920x1080.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.containerContents {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.select {
    width: 400px;
    margin-bottom: 20px;
}

.input {
    width: 400px;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

.mainInput {
    width: 400px;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
}

.button {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    outline: 0;
    height: 40px;
}

.cardType{
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    
}
.monster{
    padding-left: 2%;
    padding-right: 2%;
}
  
.groupStyles {
    display: flex;
    align-items: center;
    justify-content: space-between;
  };

.groupBadgeStyles {
    background-color: #EBECF0;
    border-radius: 2em;
    padding: 0.1em 0.5em;
  };

  .propertyInput {
    width: 120px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
  }

.content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}