.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-bottom: 1px solid white;
}

.containerContents {
    display: flex;
    margin-left: 0;
}

.select {
    width: 100%; 
    margin-bottom: 20px;
    padding-right: 20px;
}

.input {
    width: 45%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

.mainInput {
    width:90%;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 10%;
    /* margin-right: 4%; */
    /* border-radius: 0.2rem; */
    margin-top: 5%;
    background-color:rgba(0,0,0,0.1);
    color: white;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
}

.button {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    outline: 0;
    height: 40px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    border: solid;
    border-color:rgba(0, 255, 255, 0.5);
    margin-right: 10px;
    margin-top: 6%;
    cursor: pointer;
}

.buttonContainer{
    width:100%;
    height: 50%;
    margin-top:5%;
    padding-left:2%;
}

.exitButtonContainer{
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

.exitButton {
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    margin: 2% 0 2% 0;
    outline: 0;
    height: 40px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    border: solid;
    border-color:rgba(0, 255, 255, 0.5);
    cursor: pointer;
}

.modalButton {
    border-radius: 0.2rem;
    width: 97%;
    outline: 0;
    height: 40px;
    background-color:rgba(0,0,0,0.8);
    color:white;
    border: solid;
    border-color:rgba(0, 255, 255, 0.5);
    margin-right: 10px;
    font-size: large;
    cursor: pointer;
    margin-bottom:1%;
}

.cardType{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.monster{
    padding-left: 2%;
    padding-right: 2%;
}

.range{
    color: white;
}

  .propertyInput {
    width: 120px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
  }

@media only screen and (max-width: 700px) {
    .container {
        height: 18%;
    }
    .containerContents{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:100%;
    }

    .mainInput {
        width: 95%;
        margin: 0;
        /* margin-right: 20px; */
    }

    .containerContents {
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        width: 100%;
        margin-left: 0;
    }
    
    .buttonContainer{
        display: flex;
        justify-content: center;
        height:20%;
    }
    
    .button{
        margin-top: 0;
    }

    .exitButtonContainer{
        display: flex;
        justify-content: flex-end;
        width: 98%;
    }

    .exitButton {
        border-radius: 0.2rem;
        display: flex;
        justify-content: flex-end;
        outline: 0;
        height: 40px;
        background-color:rgba(0,0,0,0.8);
        color: white;
        border: solid;
        border-color:rgba(0, 255, 255, 0.5);
        cursor: pointer;
    }

    .selectContainer {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
    .exitButtonContainer{
        display: flex;
        justify-content: flex-end;
        width: 98%;
    }
}