body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  /* background-image: url('https://wallpapertag.com/wallpaper/full/c/d/3/790278-download-free-hex-grid-wallpaper-1920x1080.jpg');  */
  background-position: center; 
  /* background-repeat: no-repeat;  */
  background-size: cover;

 
}


* {
  box-sizing: border-box;
} 

.container{
  /* background-color: rgba(0, 0, 0,0.5) */
  background-color: black;

}
.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: url('https://wallpapertag.com/wallpaper/full/c/d/3/790278-download-free-hex-grid-wallpaper-1920x1080.jpg'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}
