body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

* {
  box-sizing: border-box;
} 

.container{
  background-color:rgb(0,0,0);
  height: 100vh;
}

html {
  overflow: none;
}

body {
  overflow: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}
